@import "variables";
@import "mixins";

// forms.scss

.input-control {
  &.success {
    input,
    textarea,
    select {
      border: 2px solid $border-color_1;
    }
  }

  &.error {
    input,
    textarea,
    select {
      border: 2px solid $border-color_2;
    }
  }
}

.source-control,
.etudiant-control,
.condition-control {
  &.error {
    border: 2px solid $border-color_2;
  }
  &.success {
    border: 2px solid $border-color_1;
  }
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
