// style.scss
@import 'variables';
@import 'mixins';
@import 'forms';

/* Global styles */
.slide {
    min-width: 100%; /* Chaque slide occupe 100% de la largeur du conteneur */
    box-sizing: border-box;
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}

#slider {
    display: flex;
    transition: transform 0.5s ease;
}

.input-control {
    &.error {
        input,
        textarea {
            border: 2px solid $border-color_2;
        }
    }

    &.success {
        input,
        textarea {
            border: 2px solid $border-color_1;
        }
    }
}
.errorMessage {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.headcoach__background{
    background-image: url(../../img/headcoach.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        background-position: center;
    }
}