.headcoach_background {
    background-image: url(../../img/headcoach.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

    @media (max-width: 768px) {
        background-position: center;
        background-repeat: no-repeat;
        
        
    }
    
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}

#slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%; /* Chaque slide occupe 100% de la largeur du conteneur */
    box-sizing: border-box;
}