.input-control.success input,
.input-control.success textarea,
.input-control.success select {
  border: 2px solid #00ff00;
}
.input-control.error input,
.input-control.error textarea,
.input-control.error select {
  border: 2px solid #ff0000;
}

.source-control.error,
.etudiant-control.error,
.condition-control.error {
  border: 2px solid #ff0000;
}
.source-control.success,
.etudiant-control.success,
.condition-control.success {
  border: 2px solid #00ff00;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}