.headcoach_background {
  background-image: url(../../img/headcoach.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
@media (max-width: 768px) {
  .headcoach_background {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  opacity: 1;
  transform: translateY(-50%);
}

#slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%; /* Chaque slide occupe 100% de la largeur du conteneur */
  box-sizing: border-box;
}

form .input-control.success input {
  border: 2px solid #00ff00;
}
form .input-control.error input {
  border: 2px solid #ff0000;
}
form .condition-control.success {
  border: 2px solid #00ff00;
}
form .condition-control.error {
  border: 2px solid #ff0000;
}
form .etudiant-control.success,
form .source-control.success {
  border: 2px solid #00ff00;
}
form .etudiant-control.error,
form .source-control.error {
  border: 2px solid #ff0000;
}